:root {
  --logo-color: #e9c46a;
  --bg-color: #264653;
  --chart-bg-color: #2d5362;
  --sider-bar-bg: #2a9d8f;
  --main-button: 231, 110, 80;
  --text-link: #69c9c9;

}


.wforecast-logo {
  position: relative;
  float: left;
  color: var(--logo-color);
  overflow: hidden;
  margin: 31px 25px 8px;
  max-width: 280px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  border-top: 3px solid var(--logo-color);
  padding-top: 6px;
}
.wforecast-logo * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
}
.wforecast-logo h1,
.wforecast-logo h5 {
  margin: 0;
  line-height: 1em;
}
.wforecast-logo h1 {
  font-size: 2.8em;
  text-transform: uppercase;
}
.wforecast-logo h5 {
  line-height: 0.5em;
  font-weight: 400;
  display: table;
  position: relative;
  display: inline-block;
  width: auto;
  padding: 0 10px;
}
.wforecast-logo h5:before,
.wforecast-logo h5:after {
  position: absolute;
  height: 3px;
  content: '';
  background: var(--logo-color);
  width: 1000%;
  top: 50%;
}
.wforecast-logo h5:before {
  left: -1000%;
}
.wforecast-logo h5:after {
  right: -1000%;
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: var(--text-link);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
button:disabled, button:hover:disabled {
  background: lightgrey;
  color: darkslategrey;
  border: 1px solid lightgrey;
}

button {
  background: rgb(var(--main-button));
  color: white;
  border: 1px solid rgb(var(--main-button));
  text-transform: uppercase;
  cursor: pointer;
  padding: 5px 6px;
  outline: none;
}

button:hover {
  background: rgba(var(--main-button), 0.8);
  border: 1px solid rgba(var(--main-button), 0.8);
}

input[type="text"] {
  padding: 4px 6px;
  outline: none;
}

input#searchbox[type="text"] {
  width: 100%;
}

.loading-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loading-ring.mini {
  width: initial;
  height: initial;
}
.loading-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #70A0AF;
  border-color: #70A0AF transparent #70A0AF transparent;
  animation: loading-ring 1.2s linear infinite;
}
.loading-ring.mini:after {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #70A0AF;
  border-color: #70A0AF transparent #70A0AF transparent;
  animation: loading-ring 1.2s linear infinite;
}
@keyframes loading-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.current-weather-card {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px 0;
  min-width: 150px;
  max-width: 280px;
  width: 100%;
  background-color: var(--sider-bar-bg);
  color: #fff;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.current-weather-card * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.current-weather-card figcaption {
  padding: 5% 10% 15%;
}

.current-weather-card h3 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 3px 0;
}

.current-weather-card h5 {
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: #15514A;
  letter-spacing: 1px;
}

button.text-button {
  background: none;
  text-transform: none;
  border: none;
  cursor: pointer;
}

button.text-button:hover {
  color: var(--text-link);
}